[Desktop Entry]
Type=Application
Icon=harbour-dwd
X-Nemo-Application-Type=silica-qt5
Exec=sailfish-qml harbour-dwd
Name=German Weather Service
Name[de]=Deutscher Wetter Dienst

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-dwd
Permissions=Internet;Location

[X-HarbourBackup]
BackupPathList=.cache/de.poetaster/harbour-scaler
