[Desktop Entry]
Type=Application
Icon=harbour-dwd
Exec=sailjail -p harbour-dwd.desktop /usr/bin/harbour-dwd
Name=German Weather Service

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-dwd
Permissions=Internet;Location

# translation example:
# your app name in German locale (de)

Name[de]=Deutscher Wetter Dienst

